@import '~antd/dist/antd.css';

/* RWD Container */
.container {
    width: 100%;
    display: flex;
    align-self: center;
    margin: auto;
}

/* sm */
@media (min-width: 576px) { 
  .container {
    width: 540px;
  }
  
} 

/* md */
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
  .layout-sider{
    display: none;
  }
} 

/* lg */
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
} 

/* xl */
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
} 

/* xxl */
@media (min-width: 1600px) {
  .container {
    width: 1500px;
  }
} 

/* general */
body {
  font-size: 16px;
  line-height: 1.6;
  background-color: #F6F6F6;
  color: white;
}

.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.layout-header,
.layout-footer {
  padding: 0;
  height: auto;
  line-height: 1.6;
  background-color: #ACB0DA;
}

.layout-content {
  background-color: #F6F6F6;
}

.main-layout {
  min-height: 100vh;
}

.bg-gray {
  background-color: #FFFFFF;
}

.footer-text {
  font-size:12px;
  color: white;
  opacity: 0.6; 
  margin-bottom: 25px;
  font-family:'Microsoft JhengHei'
  
}

/* Header */
.header {
  text-align:left;
  padding-left: 2.5rem;
  background-color: #ACB0DA;
}

.header-title {
  color: white;
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

@media (max-width: 576px) {
  .header-title {
    font-size: 1.3rem;
  }
  .nav-bar{
   display: none;
  }
  .nav-item{
    display:none;
  }
  
} 
@media (max-width:768px){
  .nav-bar{
    display: none;
  }
  .nav-item{
    display: none;
  }

}
.ham{
  justify-content: space-around;
  margin-top: 4rem;
  background-color:#ACB0DA;
}

.menu{
  justify-content: space-around;
  width:200px;
  margin-left: 0;
  background-color:#ACB0DA;
  
  
}
.ant-layout-sider-children{
  background-color:#ACB0DA;
  
}
.ant-layout-sider-zero-width-trigger {
  position: absolute;
  top:10px;
  left:0;
  background-color:#ACB0DA;
}
.menu-item{
  justify-content: space-around;
  margin-top: 5rem;
  color:#ffffff;
  
}
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1rem;
  padding: 0px  100px  0px  100px;
}

.nav-item {
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  color: #8e94d1;
  opacity: 0.6;
  transition: opacity .25s linear;

}

.nav-item:hover {
  color: #ACB0DA;
  opacity: 1;
}

.nav-item--active {
  opacity: 1;
}
/*Main-Item*/

.big-pic-body{
  display: flex;
  flex-direction: row;
  padding:3rem;
  background-color: #D4D4EB;
  margin-bottom:2rem;
  justify-content:space-around;
  align-items:center;
}

.big-pic{
  width: 92%;
}
.big-pic-down{
  padding: 1rem 4rem 2rem 4rem;
  background-color: #F6F6F6;
}
.icon-link{
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  align-items:flex-end;
}
.icon-pic{
  width: 50%;
  padding: 0.7rem 0rem 0.7rem 0rem;
}
.icon-pic:hover{
  width: 53%;
}
/* Product Item */
.product {
  border-radius: 5%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.ant-card-body{
  padding: 1.2rem, 
}

.product-info {
  padding-top: 0.5rem;
}
.product-category {
  color: #675656;
  opacity: 0.4;
  margin-bottom: 0.2rem;
}

.product-name {
  font-size: 18px;
  color: #675656;
  margin-bottom: 0.5rem;
  font-family:'Microsoft JhengHei';
}


.product-link {
  text-decoration: none;
  align-self: center;
  color: #8183ff;
}

/* Footer */
.footer {
  margin-top: 2rem;
  text-align: center;
  background-color: #ACB0DA;
}

@media (min-width: 992px) {
  .product-image {
    height: 24rem;
  }
  
}
.layout-sider{
  position: absolute;
  z-index: 9;
  color: #ACB0DA;
}
